<div class="header">
  <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
    <a class="pure-menu-heading" href="">Your Site</a>
    <ul class="pure-menu-list">
      <li class="pure-menu-item pure-menu-selected">
        <%= link_to 'Home', root_path, class: 'pure-menu-link' %>
      </li>
      <li class="pure-menu-item">
        <%= link_to 'Contact', contact_path, class: 'pure-menu-link' %>
      </li>
    </ul>
  </div>
</div>

